.auth {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    background: #38015c;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
  }
  
  .auth h1 {
    color: white;
  }
  
  .control label {
    color: white;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    width: 100%;
    padding: 0.25rem;
    border-radius: 4px;
  }
  
  .actions {
    margin-top: 1.5rem;
  }
  
  .actions button {
    background: #9f5ccc;
    color: white;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .toggle {
    background: transparent;
    color: #9f5ccc;
    margin-top: 1rem;
  }
  
  .loader {
    width: 30px;
    height: 30px;
    border: 3px solid #ccc;
    border-top: 3px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .error {
    background: #4d0f0f;
    color: #ffb3b3;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 6px;
  }
  